{{> playercard players}}

<ul>
    <li>product number 1</li>
    <li>product number 2</li>
    <li>product number 3</li>
    <li>product number 4</li>
    <li>product number 5</li>
    <li>product number 6</li>
    <li>product number 7</li>
    <li>product number 8</li>
    <li>product number 9</li>
    <li>product number 10</li>
    <li>product number 11</li>
    <li>product number 12</li>
    <li>product number 13</li>
    <li>product number 14</li>
    <li>product number 15</li>
    <li>product number 16</li>
    <li>product number 17</li>
    <li>product number 18</li>
    <li>product number 19</li>
    <li>product number 20</li>
</ul>